page-tabs {
	.tabbar
	{
		background: color($colors, tabs-navigation, base) !important;
		border-top-color: darken(color($colors, tabs-navigation, base), 6%) !important;
    box-shadow: 0 -1px 1px 1px rgba(0,0,0,0.1);

		.tab-button
		{
			color: color($colors, tabs-navigation, contrast);

			.tab-button-icon
			{
				color: color($colors, tabs-navigation, contrast);
			}
		}

		.tab-button:hover:not(.disable-hover),
		.tab-button[aria-selected=true]
		{
		  color: $theme-color-1;

			.tab-button-icon
			{
				color: $theme-color-1;
			}
		}
	}

}
